@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .hero-image {
    margin-left: -10%;
    width: 120%;
  }

  .hero-text {
    left: 10%;
    right: 10%;
  }

  .cards-container {
    padding: 20px 10px;

    .beneficios-container {
      padding: 20px 10px;
    }

    .logo-frase-container {
      padding: 20px 10px;
    }
  }
}
