@media screen and (max-width: 768px) {
  .nav-links {
    display: none; /* Oculta las opciones de navegación para pantallas pequeñas */
  }

  .nav-links-mobile {
    list-style: none;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    text-align: center;
    display: none; /* Oculta el menú hamburguesa por defecto */
  }

  .menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 1000;
  }

  .bar {
    width: 30px;
    height: 3px;
    background-color: #0a0a0a;
    margin: 3px 0;
    transition: 0.4s;
  }

  .menu-open .nav-links-mobile {
    display: flex;
    flex-direction: column;
  }

  .menu-open .bar:nth-child(1) {
    transform: translateY(6px) rotate(-45deg);
  }

  .menu-open .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-open .bar:nth-child(3) {
    transform: translateY(-6px) rotate(45deg);
  }
}

@media screen and (min-width: 769px) {
  /* Modifica estilos según las necesidades de diseño para pantallas más grandes */
  .navbar-container {
    justify-content: space-between;
  }

  .nav-links {
    display: flex;
  }

  /* Agrega más estilos aquí según lo necesites */
}
